# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Debug/
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/lvgl_fb
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7c397fca78cc11803f4c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5c4de8778e2b097ca055.json
build/.cmake/api/v1/reply/codemodel-v2-050c46f92da4c45fdd74.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-lv_drivers-Debug-202c345fcf160b0cf36f.json
build/.cmake/api/v1/reply/directory-lvgl-Debug-31919274ecc450425a99.json
build/.cmake/api/v1/reply/index-2023-04-19T11-56-28-0615.json
build/.cmake/api/v1/reply/target-lv_drivers-Debug-cab88107f8ef18022075.json
build/.cmake/api/v1/reply/target-lvgl_demos-Debug-cd30e1f45239cd07600c.json
build/.cmake/api/v1/reply/target-lvgl_examples-Debug-fce1f4be487c7f568a62.json
build/.cmake/api/v1/reply/target-lvgl_fb-Debug-1a34b3cf436d43c0d5af.json
build/.cmake/api/v1/reply/target-lvgl-Debug-01c553bcc4740d0283ee.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/lvgl_fb.dir/build.make
build/CMakeFiles/lvgl_fb.dir/cmake_clean.cmake
build/CMakeFiles/lvgl_fb.dir/compiler_depend.internal
build/CMakeFiles/lvgl_fb.dir/compiler_depend.make
build/CMakeFiles/lvgl_fb.dir/compiler_depend.ts
build/CMakeFiles/lvgl_fb.dir/depend.make
build/CMakeFiles/lvgl_fb.dir/DependInfo.cmake
build/CMakeFiles/lvgl_fb.dir/flags.make
build/CMakeFiles/lvgl_fb.dir/link.txt
build/CMakeFiles/lvgl_fb.dir/progress.make
build/lv_drivers/cmake_install.cmake
build/lv_drivers/Makefile
build/lv_drivers/CMakeFiles/CMakeDirectoryInformation.cmake
build/lv_drivers/CMakeFiles/progress.marks
build/lv_drivers/CMakeFiles/lv_drivers.dir/build.make
build/lv_drivers/CMakeFiles/lv_drivers.dir/cmake_clean_target.cmake
build/lv_drivers/CMakeFiles/lv_drivers.dir/cmake_clean.cmake
build/lv_drivers/CMakeFiles/lv_drivers.dir/compiler_depend.internal
build/lv_drivers/CMakeFiles/lv_drivers.dir/compiler_depend.make
build/lv_drivers/CMakeFiles/lv_drivers.dir/compiler_depend.ts
build/lv_drivers/CMakeFiles/lv_drivers.dir/depend.make
build/lv_drivers/CMakeFiles/lv_drivers.dir/DependInfo.cmake
build/lv_drivers/CMakeFiles/lv_drivers.dir/flags.make
build/lv_drivers/CMakeFiles/lv_drivers.dir/link.txt
build/lv_drivers/CMakeFiles/lv_drivers.dir/progress.make
build/lvgl/cmake_install.cmake
build/lvgl/Makefile
build/lvgl/CMakeFiles/CMakeDirectoryInformation.cmake
build/lvgl/CMakeFiles/progress.marks
build/lvgl/CMakeFiles/lvgl.dir/build.make
build/lvgl/CMakeFiles/lvgl.dir/cmake_clean_target.cmake
build/lvgl/CMakeFiles/lvgl.dir/cmake_clean.cmake
build/lvgl/CMakeFiles/lvgl.dir/compiler_depend.internal
build/lvgl/CMakeFiles/lvgl.dir/compiler_depend.make
build/lvgl/CMakeFiles/lvgl.dir/compiler_depend.ts
build/lvgl/CMakeFiles/lvgl.dir/depend.make
build/lvgl/CMakeFiles/lvgl.dir/DependInfo.cmake
build/lvgl/CMakeFiles/lvgl.dir/flags.make
build/lvgl/CMakeFiles/lvgl.dir/link.txt
build/lvgl/CMakeFiles/lvgl.dir/progress.make
build/lvgl/CMakeFiles/lvgl_demos.dir/build.make
build/lvgl/CMakeFiles/lvgl_demos.dir/cmake_clean_target.cmake
build/lvgl/CMakeFiles/lvgl_demos.dir/cmake_clean.cmake
build/lvgl/CMakeFiles/lvgl_demos.dir/compiler_depend.internal
build/lvgl/CMakeFiles/lvgl_demos.dir/compiler_depend.make
build/lvgl/CMakeFiles/lvgl_demos.dir/compiler_depend.ts
build/lvgl/CMakeFiles/lvgl_demos.dir/depend.make
build/lvgl/CMakeFiles/lvgl_demos.dir/DependInfo.cmake
build/lvgl/CMakeFiles/lvgl_demos.dir/flags.make
build/lvgl/CMakeFiles/lvgl_demos.dir/link.txt
build/lvgl/CMakeFiles/lvgl_demos.dir/progress.make
build/lvgl/CMakeFiles/lvgl_examples.dir/build.make
build/lvgl/CMakeFiles/lvgl_examples.dir/cmake_clean_target.cmake
build/lvgl/CMakeFiles/lvgl_examples.dir/cmake_clean.cmake
build/lvgl/CMakeFiles/lvgl_examples.dir/compiler_depend.internal
build/lvgl/CMakeFiles/lvgl_examples.dir/compiler_depend.make
build/lvgl/CMakeFiles/lvgl_examples.dir/compiler_depend.ts
build/lvgl/CMakeFiles/lvgl_examples.dir/depend.make
build/lvgl/CMakeFiles/lvgl_examples.dir/DependInfo.cmake
build/lvgl/CMakeFiles/lvgl_examples.dir/flags.make
build/lvgl/CMakeFiles/lvgl_examples.dir/link.txt
build/lvgl/CMakeFiles/lvgl_examples.dir/progress.make
